.announcements-container h2 {
    background: rgb(93, 148, 219);
    margin: 0px;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.announcement-section {
    text-align: left;
}

.announcement-heading {
    padding: 10px 20px;
    position: sticky;
    top: 69px;
    border-bottom: 1px solid gray;
    background-color: rgb(209, 205, 205);
    z-index: 0;
}

.announcement {
    padding: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-bottom: 1px solid gray;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}