.login-page {
    width: 100%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-header {
    padding: 20px;
}