.lesson-content {
    justify-content: center;
    font-weight: bold;
    position: relative;
    top: -30%;
    background: rgba(255, 255, 255, 0.5);
    // height: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 5px 25px 5px;
    border-radius: 10px;
}

.lesson-image-container {
    height: 45vh;
    width: 100%;
    overflow: hidden;
    background-clip: border-box;
}

.lesson-image {
    position: relative;
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background-position: center center;
    background-size: cover;
    margin-top: -1870px;
}

.lesson-container {
    overflow: hidden;
    height: 45vh;
}